/* Reset semua elemen */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Reset elemen yang umum */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
code,
em,
strong,
small,
sub,
sup,
kbd,
samp,
var,
dfn,
cite,
mark,
ins,
del,
s,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  color: inherit;
  background: none;
}

/* Reset elemen heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Reset elemen list */
ol,
ul {
  list-style: none;
}

/* Reset elemen hyperlink */
a {
  text-decoration: none;
}

/* Reset elemen button */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Reset elemen input */
input,
textarea,
select {
  outline: none;
  appearance: none;
}

/* Reset elemen table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset elemen form */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reset elemen media */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}